<div class="main centered">
  <h1>Sessions - <i>{{sessions.length}} results</i></h1>
  <div class="responsive-table">
    <table>
      <tr>
        <th>ID</th>
        <th>Game - Build - Level</th>
        <th>Platform</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Status</th>
      </tr>

      <tr *ngFor="let session of sessions">
        <td><a routerLink="/sessions/{{session._id}}">{{session._id}}</a></td>
        <td>{{session.game}} - {{session.build}} - {{session.scene}}</td>
        <td>{{session.platform}}</td>
        <td>{{session.startDate}}</td>
        <td class="align-right">{{session.duration}} s</td>
        <td>
          <div class="v-centered">
            <div *ngIf="session.validated" id="validated" class="status">VALIDATED</div>
            <div *ngIf="!session.validated" id="failed" class="status">FAILED</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
