header
    .centered.v-centered
        #logo
            img(src='/images/pear-logo.png' alt='PeAR logo')
            h1 P.e.A.R.
                |
                |
                i platform
        a(href='/sessions').v-centered
            img(src='/images/arrow.png' alt='arrow')
            span Sessions

