script.

    window.onload = function() {
        var frameRateManager =
                !{JSON.stringify(session.metricsManagers.find(x => x.name == 'frameRate'))};
        var garbageCollectionManager =
                !{JSON.stringify(session.metricsManagers.find(x => x.name == 'garbageCollection'))};
        createFrameRateAverageChart(frameRateManager);
        createGarbageCollectionCountChart(garbageCollectionManager);
    }

    function createFrameRateAverageChart(frameRateManager) {
        var dataPoints = [];
        frameRateManager.metrics.forEach(function(metric) {
            if(metric.value >= frameRateManager.processings.average.threshold) {
                var lineColor = "#ffdc32";
                var color = "#ccff00";
            }
            else {
                var lineColor = "#ffdc32";
                var color = "#ff3f00";
            }
            point = {
                x: metric.recordTime,
                y: metric.value,
                lineColor: lineColor,
                color: color
            };
            dataPoints.push(point);
        });
        var content = {
            theme: "dark2",
            title: {
                text: "Frame rate chart"
            },
            data: [
                {
                    type: "line",
                    dataPoints: dataPoints
                }
            ],
            axisY: {
                title: "Frame rate",
                minimum: 0,
                stripLines: [
                    {
                        value: frameRateManager.processings.average.threshold,
                        label: "Minimum average"
                    }
                ],
            },
            axisX: {
                title: "Seconds"
            }
        };
        var chart = new CanvasJS.Chart('frame-rate-chart-container', content);
        chart.render();
    }

    function createGarbageCollectionCountChart(garbageCollectionManager) {
        var dataPoints = [];
        garbageCollectionManager.metrics.forEach(function(metric) {
            if(metric.value <= garbageCollectionManager.processings.count.threshold) {
                var lineColor = "#ffdc32";
                var color = "#ccff00";
            }
            else {
                var lineColor = "#ffdc32";
                var color = "#ff3f00";
            }
            point = {
                x: metric.recordTime,
                y: metric.value,
                lineColor: lineColor,
                color: color
            };
            dataPoints.push(point);
        });
        var content = {
            theme: "dark2",
            title: {
                text: "Garbage collection chart"
            },
            data: [
                {
                    type: "line",
                    dataPoints: dataPoints
                }
            ],
            axisY: {
                title: "GC count",
                minimum: 0,
                stripLines: [
                    {
                        value: garbageCollectionManager.processings.count.threshold,
                        label: "Maximum count"
                    }
                ],
            },
            axisX: {
                title: "Seconds"
            }
        };
        var chart = new CanvasJS.Chart('garbage-collection-chart-container', content);
        chart.render();
    }
