script.
    window.onload = function() {
        var dataPoints = [];
        var session = !{JSON.stringify(session)};
        session.metrics.forEach(function(metric) {
            if(metric.val >= session.thresholds.fpsAverage) {
                var lineColor = "#ffdc32";
                var color = "#ccff00";
            }
            else {
                var lineColor = "#ffdc32";
                var color = "#ff3f00";
            }
            point = {
                x: metric.recordTime,
                y: metric.val,
                lineColor: lineColor,
                color: color
            };
            dataPoints.push(point);
        });
        var content = {
            theme: "dark2",
            title: {
                text: "FPS Chart"
            },
            data: [
                {
                    type: "line",
                    dataPoints: dataPoints
                }
            ],
            axisY: {
                title: "FPS",
                minimum: 60,
                stripLines: [
                    {
                        value: session.thresholds.fpsAverage,
                        label: "Threshold"
                    }
                ],
            },
            axisX: {
                title: "Seconds"
            }
        };
        var chart = new CanvasJS.Chart('fpsChartContainer', content);
        chart.render();
    }
