script.

    window.onload = function() {
        var metricsManagers = !{JSON.stringify(session.metricsManagers)};
        for(metricsManager of metricsManagers) {
            for(statistic of metricsManager.statistics) {
                if(statistic.threshold) {
                    createChart(metricsManager, statistic);
                }
            }
        }
    }

    function createChart(metricsManager, statistic) {
        var dataPoints = [];
        var threshold = statistic.threshold;
        var metricName = metricsManager.name.substring(0, 1).toUpperCase() +
                metricsManager.name.substring(1).replace(/([A-Z])/g, ' $1').toLowerCase();
        for(metric of metricsManager.metrics) {
            if(metric.value >= threshold) {
                var lineColor = '#ffdc32';
                var color = '#ccff00';
            }
            else {
                var lineColor = '#ffdc32';
                var color = '#ff3f00';
            }
            point = {
                x: metric.recordTime,
                y: metric.value,
                lineColor: lineColor,
                color: color
            };
            dataPoints.push(point);
        }
        var content = {
            theme: 'dark2',
            title: {
                text: `${metricName} chart`
            },
            data: [
                {
                    type: 'line',
                    dataPoints: dataPoints
                }
            ],
            axisY: {
                title: metricName,
                minimum: 0,
                stripLines: [
                    {
                        value: threshold,
                        label: `${threshold.maximum?'Maximum':'Minimum'} ${threshold}`
                    }
                ],
            },
            axisX: {
                title: '???'
            }
        };

        var formatedName = metricsManager.name.replace(/([A-Z])/g, '-$1').toLowerCase()
                .concat(statistic.name.replace(/([A-Z])/g, '-$1').toLowerCase())
                .concat('-chart-container');
        var chart = new CanvasJS.Chart(formatedName, content);
        chart.render();
    }
