/* Document */

body {
    margin: 0;
    background: url('grey.png') rgb(70, 70, 70);
    font-family: 'Trebuchet MS', Arial, sans-serif;
}






/* Header */

header {
    padding: 0 0 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background: rgb(246, 255, 204);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}

header .centered {
    display: flex;
    align-items: flex-end;
    height: 80px;

}

header h1 {
    margin: 0 0 0 10px;
    font-size: 2.5em;
    font-weight: normal;
    color: rgb(196, 219, 61);
}

header h1 strong {
    color: black;
    font-weight: bold;
}





/* Report */

#report {
    padding: 90px 0px 20px 0px;
    position: relative;
    z-index: 0;
    /* background: url('dust_scratches.png') rgb(240, 240, 240); */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); */
}

.status {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 0.8em;
    margin-left: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);

}

#validated {
    background: rgb(196, 219, 61);
}

#failed {
    background: rgb(214, 0, 0);
}

#report h1 {
    display: flex;
    align-items: center;

}

/* Report sections */

section {
    padding: 10px 20px 10px 20px;
}

/* Session infos */

#session-infos {
    background: url('wild_oliva.png');
    color: lightgrey;
}

#session-infos ul {
    list-style-type: square;
}

.infos {
    color: rgb(196, 219, 61);
}

/* Metrics */

#metric {
    background: url('mooning.png') fixed;
}

#json {
    background: url('white_wall.png');
}

#frameRateChartContainer {
    height: 300px;
    width: 100%;
}





/* Sessions list */

table {
    display: flex;
    justify-content: space-around;
    border-collapse: collapse;
}

th, td {
    border: 1px solid lightgrey;
    padding: 5px 5px 5px 5px;
}

th {
    background-color:   rgb(196, 219, 61);
    color: white;
    border: 1px solid white;
}

tr:hover {
    background-color: rgb(231, 231, 231);
}

tr




/* Footer */

footer p {
    color:  rgb(246, 255, 204);
    display: flex;
    justify-content: flex-end;
}