header {
    width: 100%;
    padding: 0 0 10px 0;
    background: var(--green-1);
    box-shadow: 0 2px 15px var(--shadow-1);
    position: fixed;
    top: 0;
    z-index: 1;
}

.v-centered {
    justify-content: space-between;
}

#logo {
    color: var(--dark-1);
    height: 80px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}

h1 {
    font-family: 'robotothin', 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 0 0 10px;
}

#sessions-button {
    color: var(--green-4);
    font-weight: bold;
    font-size: 0.8em;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    background: var(--green-2);
    border: 2px solid var(--green-3);
    border-radius: 5px;
    box-shadow: 3px 3px 15px var(--shadow-1);
    margin-top: 10px;
    transition-duration: 0.4s;
}

#sessions-button:hover {
    background: var(--light-1);
}

#sessions-button span {
    margin-left: 3px;
}
