/* Document */

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/Roboto-Thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: rgb(63, 63, 63);
    font-family: 'robotoregular', 'Trebuchet MS', Arial, sans-serif;
    background: url('images/wild-oliva.png') fixed, rgb(70, 70, 70);
    margin: 0;
}

.centered {
    width: 950px;
    margin: auto;
}





/* Header */

header {
    width: 100%;
    padding: 0 0 10px 0;
    background: rgb(246, 255, 204);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
}

header .centered {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    height: 80px;
    display: flex;
    align-items: flex-end;
}

header h1 {
    color: rgb(196, 219, 61);
    font-family: 'robotothin', 'Trebuchet MS', Arial, sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h1 strong {
    color: rgb(63, 63, 63);
    font-weight: bold;
}

header a {
    color: rgb(98, 116, 1);
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    background: rgb(196, 219, 61);
    border: 2px solid rgb(149, 175, 0);
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}

header a:link, header a:hover {
    background: white;
    text-decoration: none;
}

header a span {
    margin-left: 3px;
}




/* Report */

#report {
    padding: 90px 20px 20px 20px;
    background: url('images/dust-scratches.png') rgb(240, 240, 240);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 0;
}

#report section {
    padding: 10px 20px 10px 20px;
    background: url('images/mooning.png');
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    margin: 20px 0 20px 0;
}

#report h2, #report h3, #report .processings ul {
    display: flex;
    align-items: center;
}

.status {
    color: white;
    font-size: 0.8em;
    font-weight: normal;
    font-variant: small-caps;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    margin-left: 20px;

}

#validated {
    background: rgb(196, 219, 61);
}

#failed {
    background: rgb(214, 0, 0);
}

/* Session infos */

#report #session-infos {
    color: lightgrey;
    width: 60%;
    background: url('images/wild-oliva.png');
}

#session-infos ul {
    list-style-type: square;
}

.infos {
    color: rgb(196, 219, 61);
}

/* Metrics */

.chartContainer {
    height: 300px;
    width: 100%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
}





/* Sessions list */

.responsiveTable {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    display: flex;
    justify-content: space-around;
}

th, td {
    padding: 10px 5px 10px 5px;
    border: 1px solid lightgrey;
}

th {
    color: white;
    background-color: rgb(196, 219, 61);
    border: 1px solid white;
}

tr:hover {
    background-color: rgb(231, 231, 231);
}

table .status {
    text-align: center;
    display: block;
    margin: auto;
}

td a {
    color: rgb(149, 175, 0);
    text-decoration: none;
}

td a:visited {
    color: rgb(149, 175, 0);
}

td a:hover {
    color: rgb(98, 116, 1);
}





/* Footer */

footer p {
    color:  rgb(246, 255, 204);
    display: flex;
    justify-content: flex-end;
}
