header
    .centered
        #logo
            img(src='/images/pear-logo.png' alt='PeAR logo')
            h1
                strong PeAR
                |  platform
        a(href='/sessions')
            img(src='/images/arrow.png' alt='arrow')
            span Sessions

