header
    .centered
        #logo
            img(src='/pear-logo.png' alt='PeAR logo')
            h1
                strong PeAR
                |  platform
        a(href='/sessions')
            button(type='button') Sessions
