doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title PeAR sessions
    body
        h1 PeAR sessions list
        table(style='border:1px solid black')
            tr
                th ID
                th Game - Build - Level
                th Date
                th Status
            each session in sessions
                tr
                    td: a(href='/sessions/' + session._id)= session._id
                    td= session.game + ' - ' + session.build + ' - ' + session.scene
                    td= session.startDate
                    td= session.status
